<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>The Code Fellows Fellowship</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:fragment="nav" id="navigation">
            <nav>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/">Home</a></li>
                    <li class="list-inline-item"><a href="/feed">Feed</a></li>
                    <li class="list-inline-item"><a href="/myProfile">My Profile</a></li>
                    <li class="list-inline-item"><a href="/users">Fellows</a></li>
                    <li class="list-inline-item"><a href="/register">Registration</a></li>
                    <li class="list-inline-item" th:if="${loggedInUser == null}"><a href="/login">Login</a></li>
                    <li class="list-inline-item" th:if="${loggedInUser}"><a href="/perform_logout">logout</a></li>
                    <!--/*@thymesVar id="loggedInUser" type="com.heally.springmvctraining.codefellowship.ApplicationUser"*/-->
                    <li class="list-inline-item" th:if="${loggedInUser}"> </li>
                    <li class="list-inline-item" th:if="${loggedInUser}">Logged in as <span th:text="${loggedInUser.username}"></span></li>
                </ul>
            </nav>
</div>
</body>
</html>
