<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head">
</head>
<body>
<div class="container">
    <div th:replace="common :: nav"></div>
    <h2>The Code Fellows Fellowship</h2>
    <p th:if="${loggedInUser != null}"><a href="/perform_logout">Logout</a> before logging into another account.</p>
    <div th:if="${loggedInUser == null}" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Enter your username and password</div>
            <div class="panel-body">
                <form action="/perform_login" method="POST">
                    <label for="username">User Name:</label>
                    <input type="text" id="username" name="username" />
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" />
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>