<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head">
</head>
<body>
<div class="container">
    <div th:replace="common :: nav"></div>
    <h2>The Code Fellows Fellowship</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table class="table borderless">
                    <thead>
                        <tr>
                            <th colspan="1">Profile Pic</th>
                            <th colspan="1">First Name</th>
                            <th colspan="1">Last Name</th>
                            <th colspan="1">Username</th>
                            <th colspan="1">Bio</th>
                            <th colspan="1">DOB</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td><a th:href="${'/users/'+ user.id}"><img th:src="${user.defaultProfilePic}"></a></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.bio}"></td>
                            <td th:text="${user.dateOfBirth}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>